@font-face {
  font-family: 'bootstrap-icons';
  font-display: swap;
  src: url('./node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2') format('woff2'),
       url('./node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}